OPENVIDU_SECRET=MY_SECRET
DOMAIN_OR_PUBLIC_IP=localhost
HTTPS_PORT=443
FORCE_PLAIN_HTTP=false
OPENVIDU_URL=https://openvidu:4443
OPENVIDU_WEBHOOK_ENDPOINT=http://backend:8000/api/openvidu/webhook
SSL_VERIFY=false
KMS_MIN_PORT=40000
KMS_MAX_PORT=40100
GATEWAY_HTTP_PORT=8080
GATEWAY_HTTPS_PORT=8443
