OPENVIDU_SECRET=MY_SECRET
DOMAIN_OR_PUBLIC_IP=92.5.71.75
COTURN_IP=92.5.71.75
HTTPS_PORT=443
FORCE_PLAIN_HTTP=false
OPENVIDU_URL=http://openvidu:443
OPENVIDU_WEBHOOK_ENDPOINT=http://backend:8000/api/openvidu/webhook
SSL_VERIFY=false
KMS_MIN_PORT=42000
KMS_MAX_PORT=42100
GATEWAY_HTTP_PORT=80
GATEWAY_HTTPS_PORT=443
