OPENVIDU_SECRET=CHANGE_ME
DOMAIN_OR_PUBLIC_IP=your.domain.example
HTTPS_PORT=443
FORCE_PLAIN_HTTP=false
OPENVIDU_URL=https://openvidu:4443
OPENVIDU_WEBHOOK_ENDPOINT=http://backend:8000/api/openvidu/webhook
SSL_VERIFY=false
ACME_EMAIL=you@example.com
